@import '../../style/variables.scss';
@import '../../style/mixin.module.scss';

.favoritesCities {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: inherit;

    @include mediaQueryMaxWidth($LG){
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
}