@import "../../style/mixin.module.scss";
@import "../../style/variables";

.cityBadage {
  @include mediaQueryMaxWidth($MED) {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  @include mediaQueryMaxWidth($SM) {
    font-size: 1rem !important;
  }
  align-self: center;
  font-size: calc(5vw + 1rem);
  font-family: Verdana;
  font-weight: bolder;
  color: rgba(40, 40, 40, 0.7);
  -webkit-text-stroke: 1px lavenderblush;
  margin-left: 1rem;
}
